apiVersion: v1
kind: Secret
metadata:m
  name: {{ template "proetheus-pve-exporter.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "prometheus-pve-exporter.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "prometheus-pve-exporter.chart" . }}
type: Opaque
stringData:
  pve.yml: |-
    default:
      user: {{ .Values.pve.user }}
      {{- if not .Values.pve.token_name }}
      password: {{ .Values.pve.password }}
      {{- end}}
      {{- if .Values.pve.token_name }}
      token_name: {{ .Values.pve.token_name }}
      token_value: {{ .Values.pve.token_value }}
      {{- end }}
      verify_ssl: {{ .Values.pve.verify_ssl }}
